<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viedmapp.checkcode">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_checkcode"
        android:label="Checkcode"
        android:roundIcon="@drawable/ic_checkcode"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f9b861928a324db1adab0e6361888f025ee2b3d6" />

        <!-- Activities -->

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ProjectActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".EventScrollingActivity"
            android:label="@string/title_activity_event_scrolling"
            android:parentActivityName=".ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viedmapp.checkcode.ProjectActivity" />
        </activity>
    </application>

</manifest>